---
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

export interface Props {
	title: string;
    canonLink?: string;
	description?: string;
}

const { title, description, canonLink } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<Head title={title} canonLink={canonLink} description={description} />
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

